# PROYEK MATAKULIAH DATA MINING
## Regression Problem from Case and Cost Prediction using Random Forest
### KELOMPOK 4
### 12S18020 - Dita L. Sastri Sihombing
### 12S18029 - Estomihi Rascana Sirait
### 12S18061 - Angela Friscilia Simamora

# - DATA PREPARATION

Memilah Data

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/Lenovo/data/case_cost_prediction_train.csv")

In [3]:
data.isnull()

,row_id,tglpelayanan,kddati2,tkp,peserta,a,b,c,cb,d,...,kp,kt,ku,s,sa,sb,sc,sd,case,unit_cost
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57966,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
57967,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
57968,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
57969,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
57970,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

False = terdapat missing value
True = mengandung missing value, sehingga dari output dapat kita ketahui jika data tidak memiliki missing value.

In [4]:
data.isnull().sum()

row_id          0
tglpelayanan    0
kddati2         0
tkp             0
peserta         0
a               0
b               0
c               0
cb              0
d               0
ds              0
gd              0
hd              0
i1              0
i2              0
i3              0
i4              0
kb              0
kc              0
kg              0
ki              0
kj              0
kk              0
kl              0
km              0
ko              0
kp              0
kt              0
ku              0
s               0
sa              0
sb              0
sc              0
sd              0
case            0
unit_cost       0
dtype: int64

- Cleaning Data
kemudian, kita periksa beberapa atribut data yang tidak relevan. Dengan mengetahui beberapa atribute yang bersifat unik

In [7]:
data.nunique()

row_id          57971
tglpelayanan       90
kddati2           490
tkp                 2
peserta         36517
a                   3
b                   9
c                   7
cb                  2
d                   6
ds                  1
gd                 11
hd                  7
i1                  2
i2                  3
i3                  4
i4                  4
kb                  3
kc                  2
kg                  5
ki                 12
kj                  3
kk                  2
kl                  7
km                  7
ko                  2
kp                  3
kt                  2
ku                  2
s                   6
sa                  2
sb                 10
sc                 25
sd                 11
case            15332
unit_cost       57945
dtype: int64